.product_list{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 70%;
    height: fit-content;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
}